{% extends "layout.html" %}

{% block title %}{{ super() }} | Home {% endblock %}

{% block content %}
<style>
    .logoutLblPos{

   position:fixed;
   right:10px;
   top:5px;
}
img {

  width: 40%;
}
</style>
<body style="background-color:lavender;">

<a href='/logout' class="logoutLblPos">Logout</a>

<h1 style="font-family:'Luckiest Guy', cursive; color:darkslategray;font-size:70px;">Hello {{ NAME }} !</h1>

<hr style="height:3px;border-width:2;color:darkslategray;background-color:darkslategray;">
<p>You are playing with the computer! <img src="/static/giphy.gif" alt="Smiley face" style="float:right"></p>
<p>Rules are simple. You choose between three options: rock, paper and scissors.  </p>
<p>This is going to be kind of your lucky choice.</p>
<p>The person that plays the strongest “object” is the winner of the game.</p>
<h2 style="darkslategray; text-align:left;">Choose one of the options below: </h2>
<p style="text-align:left;">
<button style="margin:20px; color: green;" onclick="window.location.href = '{{ url_for('rps', choice='rock') }}';">Rock</button>
<button style="margin:20px; color: blue;" onclick="window.location.href = '{{ url_for('rps', choice='paper') }}';">Paper</button>
<button style="margin:20px; color: red;" onclick="window.location.href = '{{ url_for('rps', choice='scissors') }}';">Scissors</button>
</p>

</body>

{% endblock %}

