{% extends "base.html" %}

{% block content %}
<body  style="background-color:lavender;">
     <h1 style="text-align:center; color:darkslategray;"> Welcome to
            <span style="font-family:'Luckiest Guy', cursive; font-size: 70px;">Rock,</span>
            <span style="font-family:Open Sans Condensed, sans-serif; font-size: 70px;">Paper,</span>
            <span style="font-family:Mr Dafoe, cursive; font-size: 70px;">Scissors</span> game!
        </h1>

        <h5 style="text-align:center; color:slategray;"> Before getting started please log in below:</h5>

    <div class="container" id="lform" style="width:30%;">
        <div class="center-align">
    <form action="" method="post" novalidate style="text-align: left; color:white;">
        {{ form.hidden_tag() }}
        <p id='login_username'>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p id='login_password'>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
       {# <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p> #}
        <p id='login_buttons' style="text-align: center;color:purple;">{{ form.submit() }}</p>
    </form>
        </div>
        <p id="login_info" style="text-align: center;color:purple; ">Please sign or <a href='/new_user'>register</a>.</p>
    </div>
    </body>
{% endblock %}
