{% extends "layout.html" %}

{% block title %} {{super()}} | Game {% endblock %}

{% block content %}
<style>
    .logoutLblPos{

   position:fixed;
   right:10px;
   top:5px;
    }
img {

  width: 15%;
}
</style>
<body style="background-color:lavender;">
<a href='/logout' class="logoutLblPos">Logout</a>



<h2 style="color:darkslategray;">Results of the game:</h2>
<hr>
<h3 style="color:purple;">Player chose: {{ player_choice }}</h3>
<h3 style="color:purple;">Computer chose: {{ computer_choice }}</h3>

{% if winner == 'tie' %}
<h1 style="text-align:center;font-family:'Luckiest Guy', cursive;">There was a tie!</h1>
<h4 style="color: red; text-align:center;">Play again!</h4>
<p style="text-align:center;">
<button style="margin:20px; color: green;" onclick="window.location.href = '{{ url_for('rps', choice='scissors') }}';">Scissors</button>
<button style="margin:20px; color: blue;" onclick="window.location.href = '{{ url_for('rps', choice='rock') }}';">Rock</button>
<button style="margin:20px; color: red;" onclick="window.location.href = '{{ url_for('rps', choice='paper') }}';">Paper</button>
</p>

{% else %}
<h1 style="text-align:center;font-family:'Luckiest Guy', cursive;">{{ winner.capitalize() }} WINS!</h1>
<h4 style="color: red; text-align:center;">Play again!</h4>
<p style="text-align:center;">
<button style="margin:20px; color: green;" onclick="window.location.href = '{{ url_for('rps', choice='scissors') }}';">Scissors</button>
<button style="margin:20px; color: blue;" onclick="window.location.href = '{{ url_for('rps', choice='rock') }}';">Rock</button>
<button style="margin:20px; color: red;" onclick="window.location.href = '{{ url_for('rps', choice='paper') }}';">Paper</button>
</p>
{% endif %}
{% if winner == 'player' %}
<p style="text-align:right;">
    <img src="/static/happy.jpg">
    </p>
{% elif winner == 'computer' %}
<p style="text-align:right;">
    <img src="/static/sad.png">
</p>
{% else %}
<p style="text-align:right;">
    <img src="/static/again.gif">
</p>
{% endif %}
<p style="border-style: groove;">
<p style="text-align:center; color:purple;">Player scores: {{ p_score }} </p>
<p style="text-align:center; color:purple;">Computer scores: {{ c_score }}</p>
</p>
</body>
{% endblock %}